
<div class="row grid-table">
  <div class="col-xs-2 grid-item img"><img src={{choosenProduct.image}} alt="image"></div>
  <div class="col-xs-2 grid-item text-center">
    <h3>{{ choosenProduct.name }}</h3>
  </div>
  <div class="col-xs-2 grid-item">
    <input type="number" min="1"[(ngModel)]="choosenProduct.quantity" class="form-item" (input)="changeQuantity()">
  </div>
  <div *ngIf="flag==0" class="col-xs-2 grid-item text-center">
    <h3>available</h3>
  </div>
  <div *ngIf="flag==1" class="col-xs-2 grid-item text-center bg-danger text-danger">
    <div class="row">
      <div class="col-2">
          <h3>The requested quantity is not available<br></h3>
      </div>
    </div>

  </div>
  <div class="col-xs-2 grid-item text-center"><b>${{ choosenProduct.salePrice }}</b></div>
  <div class="col-sm-2 grid-item text-center"><i class="fa fa-remove" (click)="delete()"></i></div>
</div>
