<app-header></app-header>
<section class="bg-fbf9f2">
  <div class="container">
    <div class="content">
      <div class="title-group underline-double">
        <h5 class="sub-title">Royal wine</h5>
        <h2 class="selected">Shopping cart</h2>
        <p class="line-mix star-group">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </p>
      </div>
        <div class="responsive_grid">
          <div class="row">
            <div class="col-sm-8">
              <div class="row grid-table-heading">
                <div class="col-xs-2 grid-item"></div>
                <div class="col-xs-5 grid-item"><b>Product name</b></div>
                <div class="col-xs-2 grid-item"><b>Quantity</b></div>
                <div class="col-xs-2 grid-item"><b>Price</b></div>
              </div>
              <app-cart-table *ngFor="let c of choosenProducts" [choosenProduct]="c"></app-cart-table>
            </div>
            <div class="col-sm-4">
              <app-cart-total></app-cart-total>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>
