<app-header></app-header>
<section>
    <div class="container">
      <div class="content">
        <div class="title-group underline-double">
          <h5 class="sub-title">Wineshop</h5>
          <h2 class="selected">Login Registered User / Register new user</h2>
          <p class="line-mix star-group">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm">
            <app-login-modal></app-login-modal>
          </div>
          <div class="col-sm-6 col-sm">
            <app-registration-modal></app-registration-modal>
          </div>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>
