<section class="p-0">
  <div class="container">
    <div class="m-t-ab-100">
      <div class="row row-m-0">
        <div class="col-sm-6 bg-fbf9f2">
          <div class="p-special">
            <img src="../../../../assets/images/r7.png" alt="image" class="w-150">
            <div class="title-group">
              <h5 class="sub-title">Royal wine</h5>
              <h2>White wine</h2>
              <p class="line-mix star-group">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </p>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a href="products/category-white" class="ht-btn" (click)="chooseWhite()">Show the products of this category</a>
            </div>
            <br>
          </div>
        </div>
        <div class="col-sm-6 bg-005960">
          <div class="p-special">
            <img src="../../../../assets/images/r9.png" alt="image" class="w-150">
            <div class="title-group">
              <h5 class="sub-title">Royal wine</h5>
              <h2>Red wine</h2>
              <p class="line-mix line-mix-f star-group">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </p>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a href="products/category-red" class="ht-btn ht-btn-2 m-t-20 rad-0" (click)="chooseRed()">Show the products of this category</a>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
