<header class="header-fixed">
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a routerLink="/" class="logo"><img src="../../assets/images/logo-res.jpg" alt="image"></a>
        </div>
        <div class="col-xs-4 col-sm-8 hidden-xs">
          <nav id="holder_mn" class="menu-nav pull-right">
            <ul>
              <li><a routerLink="/">home</a></li>
              <li class="dropdown">
                <a routerLink="/products" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">product</a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/products/category-white">White wines</a></li>
                  <li><a routerLink="/products/category-red">Red wines</a></li>
                  <li><a routerLink="/products/category-rose">Rozé wines</a></li>
                </ul>
              </li>
              <li><a routerLink="/contact">contact</a></li>
              <li><a href="">login/registration</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-6 col-sm-2 text-right">
          <ul class="list list-inline pull-right m-t-5">

            <li>
              <i class="fa icon-search f-18 icon-30 text-center fa-search"></i>
            </li>
            <li>
              <div class="cart dropdown">
                <a href="" class="cart-item dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>2</span>
                  <i class="fa fa-shopping-bag"></i>
                </a>
              </div>
            </li>
            <li>
              <i class="fa fa-user f-18 icon-30" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="search-box color-inherit">
        <input type="text" class="form-item" placeholder="Enter you keyword...">
      </div>
    </div>
  </div>
</header>
