<header class="header-fixed">
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a routerLink="/" class="logo"><img src="../../assets/images/logo-res.jpg" alt="image"></a>
        </div>
        <div class="col-xs-4 col-sm-10 hidden-xs pull-right">
          <nav id="holder_mn" class="menu-nav">
            <ul class="pull-right">
              <li><a routerLink="/">home</a></li>
              <li class="dropdown">
                <a routerLink="/products" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">product</a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/products/white">White wines</a></li>
                  <li><a routerLink="/products/red">Red wines</a></li>
                  <li><a routerLink="/products/category-rose">Rozé wines</a></li>
                </ul>
              </li>
              <li><a routerLink="/contact">contact</a></li>
              <li><a routerLink="/log-reg" *ngIf="! (currentUserLoggedIn$ | async) as something">login/registration</a></li>

              <li class="dropdown" *ngIf="(currentUserAdmin$ | async) as something">
                <a routerLink="/admin-products" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/admin-products">Products</a></li>
                  <li><a routerLink="/admin-add-product">Add Product</a></li>
                </ul>
              </li>

              <li class="dropdown" *ngIf="(currentUserLoggedIn$ | async) as something">
                <a class="user-email">{{ (currentUserDetails$ | async)?.email }}<i class="user-details fa fa-bars f-18" aria-hidden="true"></i></a>
                <ul class="dropdown-menu user-dropdown-menu">
                  <li><a routerLink="/personal-details">Personal details</a></li>
                  <li><a routerLink="/previous-orders" *ngIf="!(currentUserAdmin$ | async) as something">Previous orders</a></li>
                  <li><a (click)="logoutUser()">Logout</a></li>
                </ul>
                <i class="icon-list"></i>
                </li>
                <li>
                  <div class="cart dropdown" *ngIf="(currentUserLoggedIn$ | async) as something">
                    <a href="" routerLink="/cart" class="cart-item dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span>{{cartService.addedProduct.length}}</span>
                      <i class="fa fa-shopping-bag"></i>
                    </a>
                  </div>
                </li>
            </ul>

          </nav>
        </div>
        <div class="col-xs-6 col-sm-4 text-right">
          <ul class="list list-inline pull-right m-t-5">

                <!--<i class="fa fa-user f-18 icon-50"  aria-hidden="true"></i>
                -->

            <!--
            <li>
              <i class="fa icon-search f-18 icon-50 text-center fa-search"></i>
            </li>
            -->


            <!--
            <li class="dropdown">
              <a routerLink="/products" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">product</a>
              <ul class="dropdown-menu">
                <li><a routerLink="/products/white">White wines</a></li>
                <li><a routerLink="/products/red">Red wines</a></li>
                <li><a routerLink="/products/category-rose">Rozé wines</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div>
      </div>
      <div class="search-box color-inherit">
        <input type="text" class="form-item" placeholder="Enter you keyword...">
      </div>
    </div>
  </div>
</header>
