<div class="modal-back" (click)="closeMe()" [@backdropFade]>
</div>

<div class="box modal-front" [@modalSlide]>
  <button type="button" class="btn btn-danger" name="button" (click)="closeMe()" [@backdropFade]>x</button>

  <div class="title-group underline-double1">
    <h6 class="sub-title">Royal wine</h6>
    <h3 class="selected">Product Details</h3>
    <p class="line-mix star-group">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <div>picture</div>
    </div>
    <div class="col-sm-6">
      <div class="box p-40">
        <p></p>
        <p></p>
        <h1 class="f-30 p-t-0">Wine Name</h1>
        <ul class="list list-border">
          <li class="color-9">
            <p class="price f-40">$138.00</p>Old price: $275.00 (-72%)
          </li>
          <li><b class="d-inline-block w-100">V/v:</b>13%</li>
          <li><b class="d-inline-block w-100">Size:</b>Big</li>
          <li><b class="d-inline-block w-100">Color:</b>White</li>
          <li><b class="d-inline-block w-100">Years:</b>1989</li>
          <li><b class="d-inline-block w-100">Quantity:</b><input type="number" class="form-item w-120" value="1"></li>
        </ul>
        <a href="" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>



</div>
