.modal-back {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  transition: all 0.3s ease-out;
}

.modal-front {
  position: fixed;
  box-sizing: border-box;
  padding: 20px 15px;
  z-index: 1001;
  left: 5%;
  top: 10%;
  background-color: white;
  width: 90%;
  height: 120%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  transition: all 0.3s ease-out;
  overflow: scroll;
}
@media (min-width: 600px) {
  .modal-front {
    width: 500px;
    left: calc(50% - 250px);
    padding: 40px 30px;
  }
}

.button {
  float: right;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
}
