<app-header></app-header>
<section class="bg-fbf9f2">
    <div class="container">
        <div class="content">
            <div class="title-group underline-double">
                <h4 class="sub-title">Administration</h4>
                <h3 class="selected">Modify Product</h3>
            </div>
            <div class="row">

                <!--pagination-->
                <app-pagination [pageCount]="pageCount" (refresh)="refreshPage($event)"></app-pagination>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
