<app-header></app-header>
<section class="bg-fbf9f2">
    <div class="container">
        <div class="content">
            <div class="title-group underline-double">
                <h4 class="sub-title">Administration</h4>
                <h3 class="selected">Modify Product</h3>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="image-holder">
                        <img class="wine-image" src={{this.wineImage}} alt="image">
                    </div>
                </div>
                <div class="col-sm-8">
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.name"></td>
                        </tr>
                        <tr class="specialPrice">
                            <td>Special Price</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.salePrice"></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td><input type="text" name="" value=""[(ngModel)]="this.wineByAdmin.price"></td>
                        </tr>
                        <tr>
                            <td>V/v</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.alcoholRating"></td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.volume"></td>
                        </tr>
                        <tr>
                            <td>Winery Id</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.wineryId"></td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.wineTypeId"></td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.year"></td>
                        </tr>
                        <tr>
                            <td>Stock</td>
                            <td><input type="text" name="" value="" [(ngModel)]="this.wineByAdmin.stock"></td>
                        </tr>
                        <tr>
                            <td>
                                <a type="button" class="btn btn-danger" routerLink="/admin-products">Discard</a>
                            </td>
                            <td>
                                <button type="button" class=" btn btn-primary" name="button" (click)="modifyWine()">Confirm</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
