<app-header></app-header>
<section class="bg-fbf9f2">
    <div class="container">
        <div class="content">
            <div class="title-group underline-double">
                <h5 class="sub-title">Wine shop</h5>
                <h2 class="selected">Previous order(s)</h2>
                <p class="line-mix star-group">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-sm-2" class="text-center">Date</th>
                    <th class="col-sm-4" class="text-center">Wine(s)</th>
                    <th class="col-sm-3" class="text-center">Shipping Address</th>
                    <th class="col-sm-3" class="text-center">Billing address</th>
                </tr>
            </thead>
            <tbody *ngIf="this.previousOrders.length">
                <tr *ngFor="let pO of this.previousOrders">
                    <td class="text-center">
                        {{ pO.orderTime }}
                    </td>
                    <td class="text-center">
                        <div app-previous-order-item *ngFor="let item of pO.items; let l = last" [item]="item">
                        </div>
                    </td>
                    <td class="text-center">
                        {{ pO.shippingAddress.street }}
                        <br>
                        {{ pO.shippingAddress.city }}
                        <br>
                        {{ pO.shippingAddress.country }}
                    </td>
                    <td class="text-center">
                        {{ pO.billingAddress.street }}
                        <br>
                        {{ pO.billingAddress.city }}
                        <br>
                        {{ pO.billingAddress.country }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="! this.previousOrders.length">
            <div class="text-center">
                You have not previous order!
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
