<app-header></app-header>
<section class="bg-fbf9f2">
  <div class="container">
    <div class="title-group underline-double">
      <h5 class="sub-title">Wine project</h5>
      <h2 class="selected">Order successful!</h2>
      <p class="line-mix star-group">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </p>
      <div class="text-left">
        <div class="thanks-text">Thank you for your order!</div>
        Check your mail box, your order confirmation e-mail will arrive soon.
      </div>
    </div>
    <br>
  </div>
</section>
<app-footer></app-footer>