<div class="" [ngClass]="{ 'col-sm-4' : ! fullWidth, 'col-sm-12' : fullWidth }">
  <div class="box-item">
    <wine-data-modal *ngIf="wineModalNeeded" (closeThis)="closeLoginModal()" [wineId]="wineCard.id">wine data</wine-data-modal>
    <a type="" class="" name="" (click)="openLoginModal()">
      <div class="row">
        <div class="wine-image-holder" [ngClass]="{ 'fullwidth' : fullWidth, 'col-sm-6' : fullWidth,  'col-sm-offset-3' : fullWidth, 'col-sm-12' : ! fullWidth }">
          <img class="wine-image" src={{wineCard.img}} alt="image">
        </div>
      </div>
      <div class="caption">
        <h3 class="heading"><a>{{wineCard.name}}</a></h3>
        <p class="line-mix price">{{wineCard.price}}</p>
        <br>
      </div>
    </a>
    <a href="product_1.html#" class="ht-btn">Add to cart</a>
    <br>
  </div>
</div>
