<div class="" [ngClass]="{ 'col-sm-4' : ! fullWidth, 'col-sm-12' : fullWidth }">
  <div class="box-item">
    <wine-data-modal *ngIf="wineModalNeeded" (closeThis)="closeLoginModal()" [wineId]="wineCard.id">wine data</wine-data-modal>
    <a type="" class="" name="" (click)="openLoginModal()">
      <div class="row">
        <div class="wine-image-holder" [ngClass]="{ 'fullwidth' : fullWidth, 'col-sm-6' : fullWidth,  'col-sm-offset-3' : fullWidth, 'col-sm-12' : ! fullWidth }">
          <img class="wine-image" src={{wineCard.image}} alt="image">
        </div>
      </div>
      <div class="caption">
        <h3 class="heading"><a>{{wineCard.name}}</a></h3>
        <p class="line-mix price" *ngIf="!showSalePrice">{{wineCard.price}} Ft</p>
        <p class="line-mix price" *ngIf="showSalePrice">{{wineCard.salePrice}} Ft</p>
        </div>
    </a>
    <button type="button" name="button" (click)="addToCart()">Add to cart</button>
    <br>
  </div>
</div>
