<div class="box">
  <h3 class="title line-default">Total: $142,00</h3>
  <ul class="list list-border m-b-10">
    <li><b class="d-inline-block w-120">Subtotal:</b>$120,00</li>
    <li><b class="d-inline-block w-120">Ship cost:</b>+$12,00</li>
    <li><b class="d-inline-block w-120">Taxt:</b>+$10,00</li>
    <!--<li><b class="d-inline-block w-120">Coupon code:</b>HYTGNJ7 (-10%)</li>-->
  </ul>
  <p class="cart-total"><b class="color-3 d-inline-block w-120">Total:</b>$142,00</p>
  <a href="cart.html#" class="ht-btn bg-dc4c46">Check Out</a>
  <a href="cart.html#" class="ht-btn bg-2 m-t-20">Continue Shopping</a>
</div>
