<app-header></app-header>
<section class="p-0">
  <div class="banner bg-image-4 h-700 bg-fixed">
    <div class="caption m-t-ab-50">
      <div class="title-group">
        <h5 class="sub-title">Royal wine</h5>
        <h1 class="f-80">Best Wine of 2017</h1>
        <p class="line-mix star-group line-mix-f">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </p>
        <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</h5>
        <a routerLink="/cart" class="ht-btn">Shop now</a>
      </div>
    </div>
  </div>
</section>
<app-red-white-categories></app-red-white-categories>
<landing-special-offers></landing-special-offers>
<app-footer></app-footer>
