<app-header></app-header>
<section class="bg-fbf9f2">
  <div class="container">
    <div class="title-group underline-double">
      <h5 class="sub-title">Royal wine</h5>
      <h2 class="selected">Thank you for your registration</h2>
      <h3>Please check your email account to confirm the registration</h3>
      <p class="line-mix star-group">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
