<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Products</div>
    <div class="panel-body">
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Price</th>
                <th>Special Price</th>
                <th>Stock</th>
                <th>Buttons</th>
            </tr>
        </thead>

    </table>
</div>
