<td class="image-holder"><img class="wine-image" src={{wineCard.image}} alt="image"></td>
<td>{{wineCard.name}}</td>
<td>{{wineCard.price}} Ft</td>
<td>{{wineCard.stock}}</td>
<td>
  <button type="button" class="btn btn-warning btn-sm update-button">
  </button>
    <!--<button type="button" class="btn btn-warning btn-sm update-button" (click)='modify()'>Modify
    </button>-->
    <!--<button type="button" class="btn btn-danger btn-sm delete-button" (click)='delete()'>Delete
    </button> -->
</td>
