<div class="box">
  <h4 class="title line-default">Payment method</h4>
  <!--<div class="radio">
              <label><input type="radio" name="payment_method" value="cod" checked="checked">Credit card</label>
            </div>-->
  <div class="radio">
    <label><input type="radio" name="payment_method" value="cod" checked="checked">Collect on delivery</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="payment_method" value="cod" checked="checked">PayPal</label>
  </div>
</div>