<div class="modal-back">
</div>

<div class="box modal-front" >
    <button type="button" class="btn btn-danger" name="button" (click)="setFlagToFalse()">x</button>
    <br>
    <div class="title-group underline-double">
        <br>
        <h6 class="sub-title">Royal wine</h6>
        <h3 class="selected">Rate this product</h3>
        <p class="line-mix star-group">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
    </div>
    <h1>{{this.productName}}</h1>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <h4 class="selected">Would you offer this product to anyone else?</h4>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [(ngModel)]="this.productRating" value="1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    NOT AT ALL
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="this.productRating" value="2">
                <label class="form-check-label" for="exampleRadios2">
                    RATHER NOT
                </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" [(ngModel)]="this.productRating" value="3" checked>
                    <label class="form-check-label" for="exampleRadios3">
                        MAYBE
                    </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" [(ngModel)]="this.productRating" value="4" checked>
                        <label class="form-check-label" for="exampleRadios3">
                            DEFINITIVELY
                        </label>
                        </div>


            </div>
  </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" (click)="sendResponse()">Mentés</button>
            </div>
