<!--  CONTACT FORM -->

		<section class="bg-fbf9f2">
			<div class="container">
				<div class="content">
					<div class="title-group underline-double">
						<h5 class="sub-title">Wine shop</h5>
						<h2 class="selected">Contact us</h2>
						<p class="line-mix star-group">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</p>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="box-item text-left p-50">
								<h3 class="f-25 p-t-0">If you have a question, don't hesitate to send us</h3>
									<form class="m-t-20">
									<input type="text" class="form-item" placeholder="Name">
									<input type="text" class="form-item" placeholder="Email">
									<input type="text" class="form-item" placeholder="Phone">
									<textarea class="form-item h-200" placeholder="Message"></textarea>
									<button class="ht-btn bg-6 m-t-10 rad-3" type="submit">Send</button>
								</form>
							</div>
						</div>
						<div class="col-sm-6">
							<div id="map" class="h-650"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
