<!--  CONTACT FORM -->
<app-header></app-header>
<section class="bg-fbf9f2">
  <div class="container">
    <div class="content">
      <div class="title-group underline-double">
        <h5 class="sub-title">Wine shop</h5>
        <h2 class="selected">Contact us</h2>
        <p class="line-mix star-group">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="box-item text-left p-50">
            <h3 class="f-22 p-t-0">If you have any question feel free to write us</h3>
            <form class="m-t-20">
              <input type="text" class="form-item" placeholder="Name">
              <input type="text" class="form-item" placeholder="Email">
              <input type="text" class="form-item" placeholder="Phone">
              <textarea class="form-item h-200" placeholder="Message"></textarea>
              <button type="submit" class="ht-btn bg-6 m-t-10 rad-3 (click)="submit()">Send</button>
            </form>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box-item text-left p-50">
            <h3 class="f-25 p-t-0 line-default">CONTACTS</h3>
            <p>Phone: +01-234-567-89-789 / +01-567-89-789</p>
            <br>
            <p>Email: winewebshopprogmatic@gmail.com</p>
            <br>
            <p>Address: 191 Lorem house 19W Ipsum DOLOR</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
