<app-header></app-header>
<div class="container">
  <div class="title-group underline-double">
          <h5 class="sub-title">Royal wine</h5>
          <!--h2 class="selected">User Administration</h2-->
  </div>
    <app-header [title]="'User administration ('+ users.length +' db)'" [buttons]="{ add: true }"></app-header>
    <!-- Table -->

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="! isLoading && users.length == 0 && searchTerm == ''">
                <td colspan="6" class="text-center">There is no user in the database.</td>
            </tr>
            <tr *ngIf="! isLoading && (users | userSearch : searchTerm).length == 0 && searchTerm != ''">
                <td colspan="6" class="text-center">There is no such user.</td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-center" *ngIf="isLoading">Loading...</h2>
</div>
<app-footer></app-footer>
