<div class="box p-50 m-b-50">
  <h3 class="f-25 p-t-0 line-default m-b-30">LOGIN FORM</h3>

  <div class="form-group" [ngClass]="{ 'has-error' : emailNotRegisteredOrIncorrectPassword || emailNotValidEmail || emailNotRegisteredOrIncorrectPassword}">
    <input type="text" class="form-control" [(ngModel)]="this.user.email" placeholder="Email">
    <div class="text-danger" *ngIf="emailNotValidEmail"> {{ emailNotValidEmailMessage }} </div>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error' : invalidPassword }">
    <input type="password" class="form-control" (keyup.enter)="submit()" [(ngModel)]="this.user.password" placeholder="Password">
    <div class="text-danger" *ngIf="emailNotRegisteredOrIncorrectPassword"> {{ emailNotRegisteredOrIncorrectPasswordMessage }} </div>
  </div>
  <button type="submit" class="ht-btn ht-btn-2x bg-dc4c46" (click)="submit()">Login</button>
    <ul class="link">
      <br>
      <li><a (click)="resetPassword()">Reset password</a></li>
    </ul>
</div>
