<!-- QUOTE -->

			<div class="container">
				<div class="testimonial bg-005960"><!--380006-->
					<div class="row">
						<div class="owl" data-items="4" data-itemsDesktop="3" data-itemsDesktopSmall="2" data-itemsTablet="2" data-itemsMobile="1" data-transitionstyle="backslide" data-singleItem="true" data-autoplay="false" data-pag="true" data-buttons="false">
							<div class="testimonial-item">
								<p class="line-default line-default-f testimonial-txt">"Age is just a number. It’s totally irrelevant unless, of course, you happen to be a bottle of wine."</p>
								<!--<p class="line"></p>-->
								<p><strong>Joan Collins</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
