<!-- Special Offers Title -->
<section class="product-1 color-f p-b-30">
  <div class="container">
    <div class="title-group">
      <h5 class="sub-title">Royal wine</h5>
      <h2>Special Offers<br></h2>
      <p class="line-mix line-mix-f star-group">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </p>
    </div>
    <!-- Carousel -->
    <div class="row">
      <div class="col-xs-1 parameter-option btn-l">
        <button class="fa fa-arrow-circle-o-left" (click)="prev()"></button>
      </div>
      <div class="col-xs-10 carousel-box">
          <br>
        <carousel-component class="carousel-component" [autoPlay]="false" [morePairSlides]="moreSlides" [initialSlide]="1" #topCarousel>
          <!-- Product Card -->
          <app-product-card class="item-carousel" *ngFor="let w of wineCards" [wineCard]="w" [fullWidth]="true" [carousel]="true"></app-product-card>
          <div class="item-carousel"></div>
        </carousel-component>
      </div>
      <div class="col-xs-1 parameter-option btn-r">
        <button class="fa fa-arrow-circle-o-right" (click)="next()"></button>
      </div>
    </div>
  </div>
</section>
