:host carousel-component {
  border: 1px solid black;
  display: block;
  overflow: visible;
  width: 80%;
  margin: auto;
}

.carousel-box {
    margin-bottom: 180px;
}

.item-carousel div,
.item-carousel img {
  height: 100%;
  width: 100%;
}

.item-carousel div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

btn-l {}

btn-r {}
