<!-- Special Offers Title -->
<section class="product-1 color-f p-b-30">
  <div class="container">
    <div class="title-group">
      <h5 class="sub-title">Royal wine</h5>
      <h2>Special Offers<br></h2>
      <p class="line-mix line-mix-f star-group">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </p>
    </div>
    <div class="ht-tabs ht-tabs-product text-center">
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-1">
          <div class="container">
            <!-- Carousel -->
            <tr class="row">
              <th class="parameter-option btn-l col" align="left">
                <button class="" (click)="prev()">Prev</button>
              </th>
              <th class="carousel-box col">
                <carousel-component class="carousel-component" [autoPlay]="false" [delayAutoPlay]="3000" #topCarousel>
                  <!-- Product Card -->
                  <app-product-card class="item-carousel" *ngFor="let w of wineCards" [wineCard]="w"></app-product-card>
                  <div class="item-carousel"></div>
                </carousel-component>
              </th>
              <th class="parameter-option btn-r col" align="right">
                <button class="" (click)="next()">Next</button>
              </th>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
