<!--<div class="preloader"><i class="fa fa-spinner"></i></div>-->
<app-header></app-header>
<section class="bg-fbf9f2">
    <div class="container">
        <div class="content">
            <div class="title-group underline-double">
                <h5 class="sub-title">Royal wine</h5>
                <h2 class="selected">our Products</h2>
                <p class="line-mix star-group">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <app-filter-settings (refresh)="refresh($event)"></app-filter-settings>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="iconc"><i class="fa fa-th"></i></div>
                            <div class="iconc"><i class="fa fa-list"></i></div>
                        </div>
                        <div class="col-xs-6 col-sm-4 pull-right">
                            <select class="form-item">
                                <option>Sort by</option>
                                <option>Option 1</option>
                                <option>Option 1</option>
                                <option>Option 1</option>
                                <option>Option 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Products</div>
                        <div class="panel-body">
                        </div>
                        <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Special Price</th>
                                    <th>Stock</th>
                                    <th>Buttons</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!--pagination-->
                    <app-pagination [pageCount]="pageCount" (refresh)="refreshPage($event)"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
